@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.is-small-text {
  font-size: .9rem;
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  z-index: 1 !important;
}

.is-bold-text {
  font-weight: 600 !important;
  line-height: 1.2 !important;
  font-size: .95rem !important;
}

#fail-icon {
  color: $color-red;
}

#success-icon {
  color: #0f81cc;
}

blockquote {
  border-left: 4px solid #ccc !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  padding-left: 1rem !important;
}