<h2>Edit User</h2>

<%= render "form.html", Map.put(assigns, :action, admin_user_path(@conn, :update, @user)) %>

<%= link "Back", to: admin_admin_user_path(@conn, :index), class: "button u-margin-top-small" %>