<h2 class="u-margin-bottom-small">New Admin User</h2>

<%= render "form.html", Map.put(assigns, :action, admin_admin_user_path(@conn, :create)) %>

<span><%= link "Back", to: admin_admin_user_path(@conn, :index), class: "button" %></span>