<h2>Show User</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= "#{@user.first_name} #{@user.last_name}" %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Display Name:</strong>
    <%= @user.display_name %>
  </li>

</ul>

<span><%= link "Edit", to: admin_admin_user_path(@conn, :edit, @user), class: "button" %></span>
<span><%= link "Back", to: admin_admin_user_path(@conn, :index), class: "button" %></span>
