/* Admin */
.admin-main {
  padding: 1rem 3rem 3rem 3rem;

  .table {
    width: 100%;
  }
}
.admin-side-menu {
  padding: 1rem 0 0 .5rem;
}

.admin-login-container {
  @include both-center-parent;
}

.admin-login {
  @include both-center;
}

.admin-container {
  position: absolute;
  width: 100%;
  min-height: 100%;

  .column {
    max-width: 100%;
  }
  .column:first-child {
    padding-right: 2rem;
  }

  .container {
    border-radius: 3px;
    max-width: 94%;
    margin: 3% 3% 3% 3%;
    border: thin rgba($color-black, .5);
    border-top: .3rem solid rgba($color-forestgreen, .8);
    -webkit-box-shadow: 6px 5px 27px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 6px 5px 27px 1px rgba(0,0,0,0.3);
    box-shadow: 6px 5px 27px 1px rgba(0,0,0,0.3);
  }
}

#save-avatar {
  margin-left: 1rem;
}

#character-count {
  margin-bottom: .5rem;
}

.switchable-box .switchable-input {
  display: none;
}

/* Menu Page */
.main-menu-box {
  padding: .5rem;
  border-radius: 8px;
  border: 2px solid $thin-orange;

  & .level-item {
    padding-right: .3rem;
  }
}
section[id^="tab-content"] .content p:not(:last-child){
  margin-bottom: 0 !important;
}

.second-menu-box {
  padding: .5rem;
  border-radius: 8px;
  border: 2px solid $thin-green;

  & .level-item {
    padding-right: .3rem;
  }
}

.third-menu-box {
  padding: .5rem;
  border-radius: 8px;
  border: 2px solid $thin-blue;

  & .level-item {
    padding-right: .3rem;
  }
}

.main-menu-box input[id^=menu_item] {
  min-width: 20rem;
}

.second-menu-box input[id^=second_menu_item] {
  min-width: 20rem;
}

.third-menu-box input[id^=third_menu_item] {
  min-width: 20rem;
}

.switchable-box label {
  min-width: 50px;
  min-height: 30px;
}