/* Mixins */
@mixin both-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin both-center-parent {
  position: relative;
}


// Responsiveness

@mixin from($device) {
  @media screen and (min-width: $device) {  @content  }
}


@mixin until($device) {
  @media screen and (max-width: $device - 1px) { @content }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) { @content }
}


@mixin tablet {
  @media screen and (min-width: $tablet), print { @content }
}


@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) { @content }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) { @content }
}

@mixin desktop {
  @media screen and (min-width: $desktop) { @content }
}

@mixin desktop-only {
  @if $widescreen-enabled {
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) { @content }
  }
}

@mixin until-widescreen {
  @if $widescreen-enabled {
    @media screen and (max-width: $widescreen - 1px) { @content }
  }
}

@mixin widescreen {
  @if $widescreen-enabled {
    @media screen and (min-width: $widescreen) { @content }
  }
}

@mixin widescreen-only {
  @if $widescreen-enabled and $fullhd-enabled {
    @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) { @content }
  }
}

@mixin until-fullhd {
  @if $fullhd-enabled {
    @media screen and (max-width: $fullhd - 1px) { @content }

  }
}

@mixin fullhd {
  @if $fullhd-enabled {
    @media screen and (min-width: $fullhd) { @content }
  }
}

/*
Media query manager
  0 - 600px phone
  600 - 900px tablet portrait
  900 - 1200px  tablet landscape
  1200  - 1800px  normal target
  1800 over big desktop

  1em = 16px
 */

@mixin respond($break-point) {
  @if $break-point == phone {
    @media (max-width: 37.5em) { @content }
  }
  @if $break-point == tab-port {
    @media (max-width: 56.25em) { @content }
  }
  @if $break-point == tab-land {
    @media (max-width: 75em) { @content }
  }
  @if $break-point == big-desktop {
    @media (min-width: 122.5em) { @content }
  }
}