<h2>New Comment</h2>

<%= render "form.html", Map.put(assigns, :action, admin_comment_path(@conn, :create)) %>

<span><%= link "Back", to: admin_comment_path(@conn, :index), class: "button" %></span>
