<h2>Show Comment</h2>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @comment.content %>
  </li>

  <li>
    <strong>By admin:</strong>
    <%= @comment.by_admin %>
  </li>

</ul>

<span><%= link "Edit", to: admin_comment_path(@conn, :edit, @comment) %></span>
<span><%= link "Back", to: admin_comment_path(@conn, :index) %></span>
