/* This file is for your main application css. */
@import "bulma";
@import 'node_modules/font-awesome/scss/font-awesome';
@import "abstracts/all";
@import "utils/all";
@import "base/all";
@import "components/all";
@import "pages/all";
@import "themes/all";
@import "vendor/all";


/* Admin */
.admin-main {
  padding: 1rem 3rem 3rem 3rem;

  .table {
    width: 100%;
  }
}
.admin-side-menu {
  padding: 1rem 0 0 .5rem;
}

.admin-login-container {
  @include both-center-parent;
}

.admin-login {
  @include both-center;
}
