.img-round {
  border-radius: 100% !important;
}

.image_picker_selector img{
  max-height: 120px;
}

.image_picker_selector .thumbnail {
  padding: 3px !important;
  border-radius: 5px !important;
}

#image-modal {
  display: none;
  overflow: visible;
  max-width: 85%;
}

.show-logo, .show-about-me-photo {
  max-height: 100px;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-item {
  height: 9rem;
  padding: 0 !important;
  display: flex;

  & img{
    flex-grow: 1;
    object-fit: cover;
    padding: .5rem;
  }
}