<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="presency admin">
  <title>Presency Media</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <link rel="stylesheet" href="<%= static_path(@conn, "/vendor/bulma/bulma-extensions.min.css") %>"  media="none" onload="if(media!='all')media='all'">
  <%= render_gon_script(@conn) %>
  <%= if assigns[:token] do %>
  <script>window.userToken = "<%= @token %>";</script>
  <% end %>
</head>
<script src="<%= static_path(@conn, "/js/app.js") %>" async></script>
<body>
  <%= render "admin_app_nav.html", conn: @conn %>
      <div class="admin-container columns u-margin-bottom-0 u-border-box">
        <div class="column is-narrow u-padding-bottom-0">
          <%= render "admin_app_side_nav.html", conn: @conn %>
        </div>
        <div class="column">
            <div class="container">
                <p class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></p>
                <p class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>
              <main class="admin-main">
                <%= render @view_module, @view_template, assigns %>
              </main>
            </div>
        </div>
      </div>
</body>
</html>