.u-center-text {
  text-align: center !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-tb-big {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}
.u-margin-tb-medium {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.u-margin-tb-small {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.u-margin-tb-tiny {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.u-margin-bottom-0 {
  margin-bottom: 0 !important;
}

.u-margin-left-small {
  margin-left: 2rem !important;
}
.u-margin-right-small {
  margin-right: 2rem !important;
}

.u-margin-lr-tiny {
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}

.u-margin-lr-small {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.u-margin-lr-medium {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.u-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.u-padding-bottom-3px {
  padding-bottom: 3px;
}

.u-padding-lr-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.u-padding-lr-tiny {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

.u-padding-lr-small {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.u-padding-lr-medium {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.u-padding-lr-big {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.display-none {
  display: none;
}

.u-min-height-100 {
  min-height: 100% !important;
}

.u-height-100 {
  height: 100% !important;
}

.u-border-box {
  box-sizing: border-box !important;
}

.u-children-vertical-center {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.u-max-wid-45 {
  max-width: 45%;
}

.u-inline-block {
  display: inline-block !important;
}